{% extends "base.html" %}

{% block content %}
<main class='main-section'>
    {% include '_hero.html' %}
    <section class="form-section">
        {% include 'flash_message.html' %}
        <div>
            <h1>User Login</h1>
        </div>

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ form.username.label }}<span>*</span>
                    {{ form.username(class="input-class") }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password.label }}<span>*</span>
                    {{ form.password(class="input-class") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
            </fieldset>
            <div>{{ form.submit(class="sbmt-button") }}</div>
            <p>Forgot password? <a href="#">Click here</a></p>
            <p>Do not have an account account? <a href="{{ url_for('auth.user_signup') }}">Sign Up</a></p>
        </form>
    </section>
</main>
{% endblock %}
