.table-container {
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

table { 
    margin-left: auto;
    margin-right: auto; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-collapse: collapse;
    background: #323232;
    color: #eee;
    padding: 1rem;
}

caption {
    background: #000;
    font-size: 1.5rem;
    font-weight: 700;

}

th, td, caption {
    padding: 1rem;
}

th, caption {
    text-align: left;
}

th {
    background: rgba(0, 0, 0, .4)
}

tr:nth-of-type(2n) {
    background: rgba(0, 0, 0, .1)
}

table a,
.booking-details-link {
    background-color: #e53e3e;
    color: white;
    padding: 0.2rem;
    text-decoration: none;
    font-family: "abhaya", serif;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.booking-details-link{
    display: block
}

table a:hover,
.booking-details-link:hover {
    background-color: #c53030;
}