{% extends "base.html" %}

{% block content %}
    <div class="car-card">
        <img src="{{  url_for('static', filename='images/' + car.image)  }}" alt="{{ car.make }}" class="car-image">
        <div class="car-details">
            <h2 class="car-name">{{ car.make }} {{ car.model }}</h2>
            <p class="car-price">Price: <span>{{ car.price }}</span> per day</p>
            <p class="spec">YOM: <span>{{ car.year }}</span></p>
            <p class="spec">Fuel Type: <span>{{ car.fuel_type }}</span></p>
            <p class="spec">Seats: <span>{{ car.seats }}</span></p>
            <p class="spec">Status: <span>{{ car.status }}</span></p>
            <p class="spec">Mileage: <span>{{ car.mileage }}</span></p>
            {% if car.owner == current_user %}
            <p class="button"><a href="{{ url_for('cars.delete_car', car_id=car.id) }}">Delete</a></p>
            {% else %}
            <p class="button"><a href="{{ url_for('bookings.book_car', car_id=car.id) }}">Book Now</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
