{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    {% include 'flash_message.html' %}
        <table>
            <caption>
                List of vehicles
            </caption>
            <tr>
                <th>#</th>
                <th>Vehicle name</th>
                <th>Reg No.</th>
                <th>YOM</th>
                <th>Seats</th>
                <th>Owner</th>
                <th>Status</th>
                <td>Action</td>
            </tr>
            {% for car in fleet %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.make }} {{ car.model }}</td>
                <td>{{ car.reg_num }}</td>
                <td>{{ car.year }}</td>
                <td> {{ car.seats }}</td>
                <td>{{ car.owner.username }}</td>
                <td>{{ car.status }}</td>
                <td><a href="{{url_for('cars.view_car', car_id=car.id) }}">View</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="8">
                    {% if prev_url %}
                    <a href="{{ prev_url }}">Prev</a>
                    {% endif %}
                    {% if next_url %}
                    <a href="{{ next_url }}">Next</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
