{% extends "base.html" %}

{% block content %}
    {% include 'flash_message.html' %}
    <div class="container">
        <div class="grid">
            {% for car in fleet %}
            <div class="car-card2">
                <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="{{ car.make }}" class="car-image">
                <div class="car-details">
                    <h2 class="car-name">{{ car.make }} {{ car.model }}</h2>
                    <p class="car-price">Price: $<span>{{ car.price }}</span> per day</p>
                    <p class="spec">YOM: <span>{{ car.year }}</span></p>
                    <p class="spec">Fuel Type: <span>{{ car.fuel_type }}</span></p>
                    
                    <p class="button"><a href="{{url_for('cars.view_car', car_id=car.id) }}">View</a></p>
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                {% if prev_url %}
                <a href="{{ prev_url }}" class="pagination-link">Prev</a>
                {% endif %}
                {% if next_url %}
                <a href="{{ next_url }}" class="pagination-link">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
