{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    {% include 'flash_message.html' %}
        <table>
            <caption>
                My bookings
            </caption>
            <tr>
                <th>#</th>
                <th>Vehicle name</th>
                <th>Start-date</th>
                <th>End-date</th>
                <th>Booking status</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.car.make }} {{ booking.car.model }}</td>
                <td>{{ moment(booking.start_date).format('L') }}</td>
                <td>{{ moment(booking.end_date).format('L') }}</td>
                <td>{{ booking.status }}</td>
                <td></td>
                <td><a href="{{url_for('bookings.view_booking', booking_id=booking.id) }}">View</a></td>
                
                {% if booking.status == 'pending'%}
                <td><a href="{{url_for('bookings.cancel_request', booking_id=booking.id)}}">Cancel Request</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td colspan="8" class="pagination">
                    {% if prev_url %}
                    <a href="{{ prev_url }}" class="pagination-link">Prev</a>
                    {% endif %}
                    {% if next_url %}
                    <a href="{{ next_url }}" class="pagination-link">Next</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
