{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    {% include 'flash_message.html' %}
        <table>
            <caption>
                List of vehicles
            </caption>
            <tr>
                <th>#</th>
                <th>Vehicle name</th>
                <th>Start-date</th>
                <th>End-date</th>
                <th>Booking status</th>
                <th>Owner</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.car.make }} {{ booking.car.model }}</td>
                <td>{{ moment(booking.start_date).format('L') }}</td>
                <td>{{ moment(booking.end_date).format('L') }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.car.owner.username }}</td>
                <td></td>
                <td><a href="{{url_for('cars.view_car', car_id=booking.car.id) }}">View</a></td>
                {% if booking.status == 'pending'%}
                <td><a href="{{url_for('bookings.cancel_request', booking_id=booking.id)}}">Cancel Request</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
