<section class="hero-{{ section }} flex">
  <div class="hero-content">
  	<p class="hero-text">BOOKING WHEELS</p>
	</div>
  <div class="hero-content">
  <p class="hero-quote">"Your trusted companion for car hire services."</p>
	</div>

  {% if section == 'home' %}
  <div class="links flex">
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('cars.view_cars') }}">View fleet</a>
    <a href="{{ url_for('auth.user_signup') }}">Create Account</a>
    {% else %}
      {% if not current_user.is_admin() %}
      <a href="{{ url_for('cars.view_cars') }}">View fleet</a>
      {% else %}
      <a href="{{ url_for('cars.manage_cars', user_id=current_user.id) }}">Manage fleet</a>
      {% endif %}    
    {% endif %}
  </div>
  {% endif %}
</section>
