<section class="hero-{{ section }} flex">
  <div class="hero-content">
  	<p class="hero-text">BOOKING WHEELS</p>
	</div>
  <div class="hero-content">
  <p class="hero-quote">"Your trusted companion for car hire services."</p>
	</div>

  {% if section == 'home' %}
  <div class="links flex">
    <a href="{{ url_for('cars.view_cars') }}">View fleet</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('auth.user_signup') }}">Create Account</a>
    {% endif %}
  </div>
  {% endif %}
</section>
