<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Booking Wheels - {{ title }}</title>
    {% else %}
    <title>Booking Wheels</title>
    {% endif %}
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <main>
        <section class="hero-section">
            <div class="hero-content">
                <p class="logo-text">BOOKING WHEELS</p>
            </div>
        </section>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
