{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    {% include 'flash_message.html' %}
        <table>
            <caption>
                List of vehicles
            </caption>
            <tr>
                <th>#</th>
                <th>Vehicle name</th>
                <th>Start-date</th>
                <th>End-date</th>
                <th>Booking status</th>
                <th>Client</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.car.make }} {{ booking.car.model }}</td>
                <td>{{ booking.start_date }}</td>
                <td>{{ booking.end_date }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.renter.username }}</td>
                <td colspan="2">
                    <a href="{{ url_for('accept_booking', booking_id=booking.id) }}">Accept</a>
                    <a href="{{ url_for('reject_booking', booking_id=booking.id) }}">Reject</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
